<div class="w-screen h-screen absolute z-50 top-0 left-0 bg-orange-100 bg-opacity-70 flex flex-col justify-center items-center">
  <div>
    <h1 class="text-4xl font-bold">Charging Station</h1>
  </div>
<form [formGroup]="myForm" (ngSubmit)="onSubmit()" class="w-1/3 mx-auto flex flex-col gap-10 p-10 justify-center">
  <div class="flex flex-col w-2/3 justify-center mx-auto gap-2">
    <label class="font-bold" for="type">Connector Type</label>
    <input type="text" class="rounded-md px-3 py-1" id="type" formControlName="type">
  </div>
  <div class="flex flex-col w-2/3 justify-center mx-auto gap-2">
    <label class="font-bold" for="power">Power (kW)</label>
    <input type="number" class="rounded-md px-3 py-1" id="power" formControlName="power">
  </div>
  <div class="flex flex-col w-2/3 justify-center mx-auto gap-2">
    <label class="font-bold" for="type_image">Connector Type Image</label>
    <input type="file" id="type_image" formControlName="type_image" accept="image/*" (change)="onFileSelected($event)">
    <img *ngIf="selectedFile" [src]="selectedFile" alt="Selected Image" class="w-32 h-32 mt-2">

  </div>
  <div class="flex flex-row w-2/3 justify-start mx-auto gap-8">
    <button type="submit" class=" p-2 bg-blue-500 hover:bg-blue-700 text-white rounded-lg disabled:bg-gray-600 hover:disabled:opacity-100" [disabled]="!myForm.valid">Submit</button>
    <button type="button" class=" p-2 bg-red-500 hover:bg-red-700 text-white rounded-lg" (click)="onCancel()">Cancel</button>

  </div>
</form>
</div>
